  /* Style the buttons */

  div[class='block-container css-k1ih3n egzxvld4'] {
    padding-top: 2rem;
    padding-bottom: 0rem;
  }

  h1, h2, h3 {
    padding-top: 0rem;
    padding-bottom: 0.3rem;
  }

  button[class='css-1g3yvqx edgvbvh10'] {
    background-color: #6C7A89;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

  /* When moving the mouse over the submit button, add a darker green color */
  button[class='css-1g3yvqx edgvbvh10']:hover {
    background-color: #ABB7B7;
    color: black;
  }
  

  /* Hide Streamlit Branding */
  #MainMenu {visibility: hidden;}
  footer {visibility: hidden;}